.login{

  text-align: center;
}
.top-section{
  color: #f442bf;
  text-align: center;
}
.column-left{
  font-size: 35px;
  padding-bottom: 180px;
  background-color: pink;
  float: left;
  width: 20%;
 }
.column-right{
  padding-bottom: 220px;
  padding-left: 12px;
  background-color: #ce42f4;
  float: right;
  width: 21%;
}
.column-center{
  padding-bottom: 104px;
  background-color: #f441a6;
  display: inline-block;
  width: 58%;
  text-align: center;
}

.about-section{
  text-align: center;

}
.contact-left{
  float: left;
  display: inline;
  width:50%;
  text-align: center;
}
.contact-right{
  float: right;
  width:50%;
  display: inline;
  text-align: center;
}
 .gallery{
   display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }
 .logo{
   text-align: center;
 }
 table, th, td {
     border: 1px solid black;
 }
